<ion-header>
  <ion-toolbar>
    <ion-title>
      Hangman
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-item>
      <ion-label>Guess this word</ion-label>
      <ion-input [(ngModel)]="hidden_word"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Guessed word</ion-label>
      <ion-input readonly [(ngModel)]="guessed"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Type a character or word</ion-label>
      <ion-input [(ngModel)]="guess" (keypress)="check($event)"></ion-input>
    </ion-item>
</ion-content>